<mat-card>
  <mat-card-content>
    <h1>Posts</h1>
    <mat-divider></mat-divider>
    <mat-list>
      <div *ngFor="let post of posts; let i = index">
        <div style="padding: 12px 0">
          <mat-list-item>
            <p class="title">{{post?.title}}</p>
          </mat-list-item>
          <mat-list-item>
            <p class="body">{{post?.body}}</p>
          </mat-list-item>
        </div>
        <mat-divider *ngIf="i !== posts?.length -1" [inset]="true"></mat-divider>
      </div>
    </mat-list>
  </mat-card-content>
</mat-card>
